/* CSS Demo Stylesheet */

/* box sizing */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
/* utility classes*/
.container{
    width:70vw;
    margin:40px auto;
}

.img-right{
    float:right;
    border:1px solid #c0c0c0;
    padding:5px;
    margin-left:20px;
}

.img-left{
    float:left;
    border:1px solid #c0c0c0;
    padding:5px;
    margin-right:20px;
}

.img-center {
    display: block;
    margin:20px auto;
    border:1px solid #c0c0c0;
    padding:5px;
}



/*responsive images*/
img{
    max-width:100%;
    height:auto;
}

/* global styles */
body {
    background-color:#ffffff;
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
    margin:0;
}




header.primary {
    background:#F0E4D1;
    text-align:center;
    color:#000000;
    /* long form 
    padding-top:40px;
    padding-right:40px;
    padding-bottom:20px;
    padding-left:40px; */
    /* top,right,bottom,left */
    /*padding:40px,40px,40px,40px;*/
    /* top and bottom, right and left */
    padding:20px, 40px;
    text-shadow:2px #ffffff;
    
background-color: #DFDBE5;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
header.primary h1 {
    font-size:2.8rem;
    margin:20px 0;
}
header.primary h1 a {
    color:#000000;
    text-decoration:none; /*underline */
}
header.primary h2 {
    font-size:1.4rem;
    /*top | left and right | bottom */
    margin:20px auto 40px;
}
header.primary nav{
    width:80vw;
    /*background:#E1E1DA;*/
    margin:40px auto;
    max-width:600px;
}

header.primary nav ul{
    padding:10px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
header.primary nav li{
    list-style-type:none;
}
header.primary nav a{
    color:#000000;
    text-decoration:none;
    background:#ffffff;
    background-color:rgba(0,0,0,.4); 
    padding:5px 15px;
    border-radius:20px 20px 20px 20px;
    transition:.5s;
}

header nav a:hover,header nav a:active {
    background-color:rgba(0,0,0,.8);
}

#intro {
    border-bottom:1px solid #D5CCE3;
    padding-bottom:1.1rem;
    text-align: justify;
}

#intro h2{
    border:3px double #D5CCE3;
    /*border-bottom:;*/
}

#intro p{
    line-height:1.5rem;
}

#content {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border-bottom:1px solid #D5CCE3;
    padding-bottom:2.8rem;
    text-align: justify;
}

#content article.post{
    width:30%;
    box-shadow:0 4px 8px rgba(0,0,0,.4);
    padding:10px;
    border-radius:4px;
    font-size:0.7rem;
    flex-wrap: wrap;
}

#content article.post:hover{
    box-shadow:0 8px 16px rgba(0,0,0,.4);
    transition:0.5s;
}

#content .post figure{
    margin:0;
}

time.post-date, figcaption, .post-meta{
    text-transform:uppercase;
    /*color:;*/
}

.post a{
    color:#C4AFE3;
}

.post a:hover, .post a:active{
    text-decoration:none;
}


#additional-elements {
    line-height: 1.5;
    text-align: justify;
}

#addional-elements a, #additional-elements a:visited {
    color:#C4AFE3;
}

#additional-elements h2 {
    color:#000000;
    border:3px double #D5CCE3;
}

#additional-elements h3 {
    border-left:8px solid #D5CCE3;
    padding-left:10px;
}

table {
    width:100%;
    border:1px solid #000000;
    margin-bottom:40px;
    border-collapse: collapse;
}

table tr:nth-child(even){
    background-color:rgba(244,240,250,98);
}

table tr:hover{
    background-color:rgba(0,0,0,0.2);
}
table th{
    background:#D5CCE3;
    color:#ffffff;
    width:33%;
    padding:10px;
    text-align: center;
}
table td{
    border:1px solid #000000;
    padding:5px;
    text-align:center;
}
table caption {
    color:#D5CCE3 ;
    padding:10px;
    font-weight: bold;
    font-size:1.4rem;
}

#additional-elements ol {
    list-style-type:upper-alpha;
    list-style-position: inside;
}

#additional-elements ul {
    list-style-type: square;
}

#additional-elements ul ul {
    list-style-type: disc;
}

#additional-elements dl {
    
}

#additional-elements dt {
    font-weight:bold;
  
}

#additional-elements dd {
    margin-left:0;
}

dd+dt {
    margin-top:1.1rem;
}

#addional-elements blockquote {
    background-color: rgba(0,0,0,0.15);
    padding:30px 40px;
    border:5px double #000000;
    border-radius: 15px;
    font-size: 1.2rem;
}

#addional-elements cite {
    display: block;
    font-size:6rem;
    text-align: right;
    font-weight: bold;
    margin-top: 1.2rem;
}


/*attribute selector*/
aside[role="complementary"] {
    background:#D5CCE3;
    color:#ffffff;
    padding:1.8rem;
}

aside div.container{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}

article.widget{
    width:45%;
}

article.widget a {
    color:#ffffff;
    display: block;
    margin-top:1.4rem;
}

article.widget footer {
    display:none;
}

#colophon {
    background-color:#D5CCE3;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%23F4F0FA' fill-opacity='0.4' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
}

#colophon h6{
    padding:20px;
    margin: 0;
    text-align:center;
    color:#ffffff;
    font-size:0.8rem;
    text-transform: uppercase;
}



/* media query example */
@media screen and (max-width:700px) {
    header.primary nav ul{
        flex-direction:column;
        max-width:70vw;
        margin:auto;
    }
    header.primary nav a{
        display:block;
    }
    header.primary nav li{
        margin-bottom:10px;
    }
}