html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  width: 80vw;
  margin: 40px auto;
  max-width: 900px;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Mohave', sans-serif;
  margin: 0;
}

header.primary {
  background-color: #1b2c38;
  text-align: center;
  color: #ffffff;
  padding: 6em 2em;
  position: relative;
  height:300px;
}

header.primary::before {
  content: "";
  background-image: url("../img/dragonInSpace.jpg");
  background-size: cover;
  position: absolute;
  top:50px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

header.primary img {
  height:40px;
  width: 300px;
  position: absolute;
  top:0;
  left:0;
}
header.primary h1 {
  font-size: 4.2rem;
  margin: 20px 0;
  position: relative;
  text-transform: uppercase;
}

header.primary h1 a {
  font-size:4rem;
  margin: 0 auto;
  color: #ffffff;
}

header.primary h2 {
  font-family: "Goldman", cursive;
  font-size: 2em;
  margin: 20px auto 40px;
  position: relative;
}

header.primary nav ul {
  position: relative;
  display: flex;
  padding-left: 5px;
  max-width: 500px;
  justify-content:space-between;
}

header.primary nav li {
  list-style-type: none;
  padding: 0;
  width: 20%;
  text-transform: uppercase;
}

header.primary nav a:link,
header.primary nav a:visited {
  color: white;
  text-decoration: none;
  padding: 8px;
  display: block;
}

.nav {
  padding-left:300px;
  position: absolute; 
  top: 0; 
  height:50px
}

.primary img {
  z-index: +1;
}

.nav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li:hover {
  text-decoration:underline;
}

section#content {
  padding:1em 0;
  text-align: justify;
}

section#content h2{
  font-family: 'Mohave', sans-serif;
  font-size: 1.8em;
  color:#000000;
  border-left: 6px solid #9AAFD9;
  border-bottom: 6px solid #9AAFD9;
  padding-left: 10px;
  text-align: left;
}

section#content h3 {
  border-left:6px solid #9AAFD9;
  padding-left: 10px;
}

section#content li {
  margin-top:10px;
}


footer#colophon {
  background-color: #1b2c38;
}

#colophon h6, .primary a, #colophon a{
  padding: 20px;
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-decoration: none;
}

#colophon a:hover {
  text-decoration:underline;
}

#content details {
  padding:5px;
}

#content h1 {
  border-left: 6px solid #9AAFD9;
  border-bottom: 6px solid #9AAFD9;
  padding-left: 10px;
  font-family: 'Mohave', sans-serif;
  font-size: 1.8em;
  color:#000000;
}

.gallery {
	width: 730px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	border-bottom: 1px solid #1b2c38;
	border-top: 1px solid #1b2c38;
	height: 516px;
	overflow: hidden;
}
.gallery img {
	margin: 15px;
	width: 700px;
	height: 490px;
}

#bonus {
    display:flex;
    flex-direction:row;
    justify-content:space-between; 
    padding-bottom:2.8rem;
}

#bonus article.post{
    width:30%;
    box-shadow:0 4px 8px rgba(0,0,0,.4);
    padding:10px;
    border-radius:4px;
    font-size:0.7rem;
    flex-wrap: wrap;
}

#bonus article.post:hover{
    box-shadow:0 8px 16px rgba(0,0,0,.6);
    transition:0.5s;
}

#bonus .post figure{
    margin:0;
}

.post a{
    color:#1b2c38;
    padding: 20px;
    margin: 0;
    text-align: center;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.post a:hover{
    text-decoration:none;
}

#bonus img {
  width: 300px;
  height:150px;
}

#bonus p {
  text-align: justify;
}

#bonus a {
  padding:0;
}

details {
  border-bottom:1px solid #000000;
  margin-top: 15px;
  border-radius: 10px;
}

summary:active, summary:hover {
  background:#F0F0F2;
  cursor: pointer;
}



















  
  
  

  
